* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  color: #331B07;
  font-size: 1vw;
  position: relative;
}
@media (max-width: 1366px) {
  body {
    overflow-x: hidden;
  }
}

.modal-video-shadow {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-video-shadow .video-frame {
  width: 896px;
  height: 504px;
  top: 3%;
  left: 2%;
  -webkit-box-shadow: rgba(223, 183, 108, 0.4392156863) 0px 0px 55px;
          box-shadow: rgba(223, 183, 108, 0.4392156863) 0px 0px 55px;
}
@media (max-width: 1270px) {
  .modal-video-shadow .video-frame {
    width: 560px;
    height: 315px;
  }
}
@media (max-width: 830px) {
  .modal-video-shadow .video-frame {
    width: 392px;
    height: 220px;
  }
}

.invisible-block {
  display: none;
}

header {
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 768px) {
  header {
    position: relative;
    height: 75px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
  }
}
header .nav-bg-mobile {
  display: none;
}
@media (max-width: 768px) {
  header .nav-bg-mobile {
    display: block;
    width: 100%;
    height: 100%;
  }
}
header .logo-mobile {
  display: none;
}
@media (max-width: 768px) {
  header .logo-mobile {
    position: absolute;
    display: block;
    width: 160px;
    margin-top: 10px;
  }
}
header .btn-buy-now {
  display: none;
}
@media (max-width: 768px) {
  header .btn-buy-now {
    position: absolute;
    display: block;
    width: 90px;
    height: 30px;
    right: 25px;
    top: calc(50% - 15px);
    border: none;
    border-radius: 13px;
    background: url("../assets/img/gold-button-bg.jpg") 90% 35%;
    color: #FAEFDD;
  }
  header .btn-buy-now:hover {
    cursor: pointer;
  }
}
header .nav-left,
header .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 32%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  header .nav-left,
  header .nav-right {
    display: none;
  }
}
header .nav-left .nav-bg,
header .nav-right .nav-bg {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 98%;
  z-index: -1;
}
header .nav-left .nav-border,
header .nav-right .nav-border {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
header .nav-left .nav-links,
header .nav-right .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .nav-left .nav-links .nav-link,
header .nav-right .nav-links .nav-link {
  color: #FAEFDD;
  font-size: 21px;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
header .nav-left .nav-links .nav-link:hover,
header .nav-right .nav-links .nav-link:hover {
  color: #E6C278;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 1000px) {
  header .nav-left .nav-links .nav-link,
  header .nav-right .nav-links .nav-link {
    font-size: 16px;
  }
}
header .nav-left .nav-links .buy-now,
header .nav-right .nav-links .buy-now {
  color: #FED075;
}
@-webkit-keyframes example {
  from {
    -webkit-box-shadow: 40px -70px 40px 20px #FED075;
            box-shadow: 40px -70px 40px 20px #FED075;
  }
  to {
    -webkit-box-shadow: 40px -70px 50px 40px #FED075;
            box-shadow: 40px -70px 50px 40px #FED075;
  }
}
@keyframes example {
  from {
    -webkit-box-shadow: 40px -70px 40px 20px #FED075;
            box-shadow: 40px -70px 40px 20px #FED075;
  }
  to {
    -webkit-box-shadow: 40px -70px 50px 40px #FED075;
            box-shadow: 40px -70px 50px 40px #FED075;
  }
}
header .nav-left .nav-links .buy-now::before,
header .nav-right .nav-links .buy-now::before {
  content: "";
  -webkit-box-shadow: 30px -70px 40px 20px #FED075;
          box-shadow: 30px -70px 40px 20px #FED075;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
@media (max-width: 768px) {
  #hero {
    min-height: 90vh;
  }
}
@media (max-width: 750px) {
  #hero {
    min-height: 60vh;
  }
}
@media (max-width: 500px) {
  #hero {
    min-height: 0vh;
  }
}
#hero #hero-video {
  margin: -5px;
}
@media (max-width: 768px) {
  #hero #hero-video {
    display: none;
  }
}
#hero #hero-video-m {
  display: none;
}
@media (max-width: 768px) {
  #hero #hero-video-m {
    display: block;
    width: 100%;
  }
}
#hero .hero-front-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 75px;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  #hero .hero-front-text {
    top: 0%;
  }
}
#hero .hero-front-text .corner-img {
  width: 200px;
  z-index: 4;
}
@media (max-width: 500px) {
  #hero .hero-front-text .corner-img {
    width: 130px;
  }
}
#hero .hero-front-text .hero-left-side,
#hero .hero-front-text .hero-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 19%;
}
@media (max-width: 471px) {
  #hero .hero-front-text .hero-left-side,
  #hero .hero-front-text .hero-right-side {
    width: 0%;
  }
}
#hero .hero-front-text .hero-left-side .game-of-the-year,
#hero .hero-front-text .hero-right-side .game-of-the-year {
  margin-left: 15%;
}
@media (max-width: 1000px) {
  #hero .hero-front-text .hero-left-side .game-of-the-year,
  #hero .hero-front-text .hero-right-side .game-of-the-year {
    width: 150%;
  }
}
@media (max-width: 775px) {
  #hero .hero-front-text .hero-left-side .game-of-the-year,
  #hero .hero-front-text .hero-right-side .game-of-the-year {
    display: none;
  }
}
#hero .hero-front-text .hero-right-side {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 1660px) {
  #hero .hero-front-text .hero-right-side {
    margin-right: 19px;
  }
}
#hero .hero-front-text .hero-center-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1360px) {
  #hero .hero-front-text .hero-center-side {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 471px) {
  #hero .hero-front-text .hero-center-side {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
#hero .hero-front-text .hero-center-side .hero-logo {
  width: 62%;
}
@media (max-width: 1000px) {
  #hero .hero-front-text .hero-center-side .hero-logo {
    width: 90%;
  }
}
@media (max-width: 775px) {
  #hero .hero-front-text .hero-center-side .hero-logo {
    margin-top: 50%;
    width: 80%;
  }
}
@media (max-width: 471px) {
  #hero .hero-front-text .hero-center-side .hero-logo {
    width: 50%;
    margin-top: 25%;
    margin-left: 10%;
  }
}

/***************about****************/
#about {
  position: relative;
}
#about .about-bg-img {
  -webkit-box-shadow: 0px -5px 150px 90px #0F1616;
          box-shadow: 0px -5px 150px 90px #0F1616;
  height: 1900px;
}
@media (max-width: 471px) {
  #about .about-bg-img {
    height: 1800px;
  }
}
#about .video-container {
  position: absolute;
  z-index: 2;
  top: -40px;
  left: calc(50% - 600px);
  width: 1200px;
  height: 700px;
}
@media (max-width: 1270px) {
  #about .video-container {
    top: 80px;
    left: calc(50% - 400px);
    width: 800px;
    height: 472px;
  }
}
@media (max-width: 830px) {
  #about .video-container {
    top: -40px;
    left: calc(50% - 235px);
    width: 470px;
    height: 272px;
  }
}
@media (max-width: 500px) {
  #about .video-container {
    top: -5px;
    left: calc(50% - 185px);
    width: 370px;
    height: 220px;
  }
}
#about .video-container .video-frame-border {
  position: absolute;
  width: 100%;
  z-index: 3;
}
#about .video-container .video-frame-img {
  position: absolute;
  width: 96%;
  height: 93%;
  top: 3%;
  left: 2%;
  z-index: 0;
}
#about .video-container .play-button-group {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 85px);
  width: 170px;
  height: 170px;
  z-index: 4;
}
@media (max-width: 1270px) {
  #about .video-container .play-button-group {
    top: calc(50% - 85px);
    left: calc(50% - 85px);
  }
}
#about .video-container .play-button-group .hover-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#about .video-container .play-button-group .hover-mask:hover {
  cursor: pointer;
}
@-webkit-keyframes play-animation-outer {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes play-animation-outer {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes play-animation-outer-end {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes play-animation-outer-end {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
#about .video-container .play-button-group .outer-btn-play-animation-start {
  -webkit-animation-name: play-animation-outer;
          animation-name: play-animation-outer;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#about .video-container .play-button-group .outer-btn-play-animation-end {
  -webkit-animation-name: play-animation-outer-end;
          animation-name: play-animation-outer-end;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes play-animation-inner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
}
@keyframes play-animation-inner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
}
@-webkit-keyframes play-animation-inner-end {
  from {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes play-animation-inner-end {
  from {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
#about .video-container .play-button-group .inner-btn-play-animation-start {
  -webkit-animation-name: play-animation-inner;
          animation-name: play-animation-inner;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#about .video-container .play-button-group .inner-btn-play-animation-end {
  -webkit-animation-name: play-animation-inner-end;
          animation-name: play-animation-inner-end;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#about .video-container .play-button-group img {
  position: absolute;
}
#about .video-container .play-button-group .play-button-arrow {
  width: 55px;
  left: calc(50% - 20px);
  top: calc(50% - 32.5px);
}
@media (max-width: 500px) {
  #about .video-container .play-button-group .play-button-outer,
  #about .video-container .play-button-group .play-button-inner {
    display: none;
  }
}
#about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 700px;
  width: 1200px;
  left: calc(50% - 600px);
}
@media (max-width: 1300px) {
  #about .description {
    top: 580px;
    width: 900px;
    left: calc(50% - 450px);
  }
}
@media (max-width: 831px) {
  #about .description {
    top: 280px;
    width: 900px;
    left: calc(50% - 450px);
  }
}
#about .description .description-p {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  color: white;
  width: 73%;
}
@media (max-width: 1300px) {
  #about .description .description-p {
    text-align: center;
  }
}
@media (max-width: 800px) {
  #about .description .description-p {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 21px;
    width: 400px;
  }
}
#about .description .description-title {
  margin-top: 25px;
  margin-bottom: 60px;
  width: 56%;
}
@media (max-width: 800px) {
  #about .description .description-title {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 38%;
  }
}
#about .description .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
@media (max-width: 1300px) {
  #about .description .cards {
    gap: 4%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 800px) {
  #about .description .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}
#about .description .cards .card {
  position: relative;
}
#about .description .cards .card .game-info-frame {
  width: 370px;
  height: 480px;
}
@media (max-width: 1300px) {
  #about .description .cards .card .game-info-frame {
    width: 233px;
    height: 302px;
  }
}
#about .description .cards .card .game-info-panel-container {
  position: absolute;
  top: calc(50% - 170.5px);
  left: calc(50% - 149px);
  width: 295px;
  height: 295px;
}
@media (max-width: 1300px) {
  #about .description .cards .card .game-info-panel-container {
    top: calc(50% - 106.5px);
    left: calc(50% - 94px);
    width: 185px;
    height: 185px;
  }
}
#about .description .cards .card .game-info-panel-container .game-info-panel {
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#about .description .cards .card .game-info-icon-1,
#about .description .cards .card .game-info-icon-2 {
  position: absolute;
  width: 60px;
}
@media (max-width: 1300px) {
  #about .description .cards .card .game-info-icon-1,
  #about .description .cards .card .game-info-icon-2 {
    width: 35px;
  }
}
#about .description .cards .card .game-info-icon-1 {
  top: 29px;
  left: 271px;
}
@media (max-width: 1300px) {
  #about .description .cards .card .game-info-icon-1 {
    top: 20px;
    left: 172px;
  }
}
#about .description .cards .card .game-info-icon-2 {
  bottom: 33px;
  right: 274.5px;
}
@media (max-width: 1300px) {
  #about .description .cards .card .game-info-icon-2 {
    bottom: 23px;
    right: 174px;
  }
}
#about .description .cards-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  margin-top: 25px;
}
@media (max-width: 1300px) {
  #about .description .cards-description {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media (max-width: 800px) {
  #about .description .cards-description {
    display: none;
  }
}
#about .description .cards-description .card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
  font-size: 18px;
  line-height: 23.4px;
  color: white;
  height: 245px;
}
@media (max-width: 1300px) {
  #about .description .cards-description .card-description {
    width: 233px;
    font-size: 15px;
    line-height: 23px;
    color: white;
    height: 245px;
  }
}
#about .description .cards-description .card-description .card-title {
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  line-height: 30.2px;
  text-align: center;
}
@media (max-width: 1300px) {
  #about .description .cards-description .card-description .card-title {
    font-size: 20px;
    line-height: 28px;
  }
}
#about .description .cards-description .card-description .card-p {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 21.6px;
  height: 65%;
}
@media (max-width: 1300px) {
  #about .description .cards-description .card-description .card-p {
    font-size: 14px;
  }
}
#about .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  position: absolute;
  top: 100%;
  z-index: 1;
  margin-top: 40px;
}
#about .social .rule-a {
  width: 100%;
}
@media (max-width: 470px) {
  #about .social .rule-a {
    width: 85%;
  }
}
#about .social .social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7%;
}
#about .social .social-logos svg {
  width: 50px;
}

footer {
  position: relative;
  height: 388px;
  -webkit-box-shadow: 0px -5px 150px 90px #000000;
          box-shadow: 0px -5px 150px 90px #000000;
}
footer .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}
footer .sponsors .sponsor-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8%;
  margin-top: 120px;
  width: 40%;
}
footer .sponsors .sponsor-icons .sponsor-icon {
  width: 90px;
}
footer .sponsors .sponsor-icons .sponsor-icon:first-child {
  width: 55px;
}
footer .sponsors .sponsor-icons .sponsor-icon:nth-child(2) {
  width: 145px;
}
@media (max-width: 470px) {
  footer .sponsors .sponsor-icons .sponsor-icon:nth-child(2) {
    display: none;
  }
}
footer .corners {
  width: 100%;
}
footer .corners .corner-bottom-left {
  position: absolute;
  width: 200px;
}
footer .corners .corner-bottom-right {
  position: absolute;
  width: 200px;
  right: 0;
  margin-right: 19px;
}
@media (max-width: 470px) {
  footer .corners .corner-bottom-right {
    margin-right: 0px;
  }
}
footer .corners .my-contacts {
  position: absolute;
  bottom: 0;
  left: calc(50% - 75px);
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@-webkit-keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
footer .corners .my-contacts .gradient {
  margin: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #7953cd), color-stop(30%, #00affa), color-stop(70%, #0190cd), color-stop(80%, #764ada));
  background: linear-gradient(to right, #7953cd 20%, #00affa 30%, #0190cd 70%, #764ada 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  -webkit-animation: textShine 5s ease-in-out infinite alternate;
          animation: textShine 5s ease-in-out infinite alternate;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 470px) {
  footer .corners .my-contacts {
    bottom: 20px;
  }
  footer .corners .my-contacts .gradient {
    font-size: 18px;
  }
}