$border: 1px solid red;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    color: #331B07;
    font-size: 1vw;
    position: relative;

    @media(max-width: 1366px) {
        overflow-x: hidden;
    }
}

.modal-video-shadow {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    opacity   : 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;

    .video-frame {
        width: 896px;
        height: 504px;
        top: 3%;
        left: 2%;
        box-shadow: #dfb76c70 0px 0px 55px;

        @media (max-width: 1270px) {
            width: 560px;
            height: 315px;
        }

        @media (max-width: 830px) {
            width: 392px;
            height: 220px;
        }
    }
}

.invisible-block {
    display: none;
}


header {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    @media(max-width: 768px) {
        position: relative;
        height: 75px;
        align-items: flex-start;
        padding-left: 25px;
    }

    .nav-bg-mobile {
        display: none;

        @media(max-width: 768px) {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .logo-mobile {
        display: none;

        @media(max-width: 768px) {
            position: absolute;
            display: block;
            width: 160px;
            margin-top: 10px;
        }
    }

    .btn-buy-now {
        display: none;

        @media(max-width: 768px) {
            position: absolute;
            display: block;
            width: 90px;
            height: 30px;
            right: 25px;
            top: calc(50% - 15px);
            border: none;
            border-radius: 13px;
            background: url('../assets/img/gold-button-bg.jpg') 90% 35%;
            color: #FAEFDD;

            &:hover {
                cursor: pointer;
            }

        }
    }


    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 32%;
        overflow: hidden;
        position: relative;

        @media(max-width: 768px) {
            display: none;
        }

        .nav-bg {
            opacity: 0.2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 98%;
            z-index: -1;
        }

        .nav-border {
            width: 100%;
            position: absolute;
            bottom: 0px;
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;


            .nav-link {
                color: #FAEFDD;
                font-size: 21px;
                letter-spacing: 1px;
                text-decoration: none;
                transition-duration: 0.2s;

                &:hover {
                    color: #E6C278;
                    transform: scale(1.05);
                }

                @media (max-width: 1000px) {
                    font-size: 16px;
                }
            }

            .buy-now {
                color: #FED075;

                @keyframes example {
                    from {
                        box-shadow: 40px -70px 40px 20px #FED075;
                    }

                    to {
                        box-shadow: 40px -70px 50px 40px #FED075;
                    }
                }

                &::before {
                    content: '';
                    box-shadow: 30px -70px 40px 20px #FED075;
                    animation-name: example;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
            }
        }

    }
}

#hero {
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    @media (max-width: 768px) {
        min-height: 90vh;
    }

    @media (max-width: 750px) {
        min-height: 60vh;
    }

    @media (max-width: 500px) {
        min-height: 0vh;
    }


    #hero-video {
        margin: -5px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    #hero-video-m {
        display: none;

        @media (max-width: 768px) {
            display: block;
            width: 100%;
        }
    }

    .hero-front-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 75px;
        width: 100%;
        height: 100%;


        @media (max-width: 768px) {
            top: 0%;
        }

        .corner-img {
            width: 200px;
            z-index: 4;

            @media (max-width: 471px) {
                width: 130px;
            }
        }

        .hero-left-side,
        .hero-right-side {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 19%;


            @media (max-width: 471px) {
                width: 0%;
            }


            .game-of-the-year {
                margin-left: 15%;

                @media (max-width: 1000px) {
                    width: 150%;
                }

                @media (max-width: 775px) {
                    display: none;
                }
            }
        }

        .hero-right-side {
            align-items: flex-end;

            @media (min-width: 1660px) {
                margin-right: 19px;
            }
        }

        .hero-center-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: 1360px) {
                align-items: flex-end;
            }

            @media (max-width: 471px) {
                width: 100%;
                align-items: center;
            }


            .hero-logo {
                width: 62%;

                @media (max-width: 1000px) {
                    width: 90%;
                }

                @media (max-width: 775px) {
                    margin-top: 50%;
                    width: 80%;
                }

                @media (max-width: 471px) {
                    width: 50%;
                    margin-top: 25%;
                    margin-left: 10%;
                }
            }
        }

    }
}




#about {
    position: relative;

    .about-bg-img {
        box-shadow: 0px -5px 150px 90px #0F1616;
    }



    .video-container {
        position: absolute;
        z-index: 2;
        top: -40px;
        left: calc(50% - 1200px / 2);
        width: 1200px;
        height: 700px;

        @media (max-width: 1270px) {
            top: 80px;
            left: calc(50% - 800px / 2);
            width: 800px;
            height: 472px;
        }

        @media (max-width: 830px) {
            top: -40px;
            left: calc(50% - 470px / 2);
            width: 470px;
            height: 272px;
        }

        @media (max-width: 500px) {
            top: -5px;
            left: calc(50% - 370px / 2);
            width: 370px;
            height: 220px;
        }

        .video-frame-border {
            position: absolute;
            width: 100%;
            z-index: 3;
        }

        .video-frame-img {
            position: absolute;
            width: 96%;
            height: 93%;
            top: 3%;
            left: 2%;
            z-index: 0;
        }


        .play-button-group {
            position: absolute;
            top: calc(50% - 170px / 2);
            left: calc(50% - 170px / 2);
            width: 170px;
            height: 170px;
            z-index: 4;

            @media (max-width: 1270px) {
                top: calc(50% - 170px / 2);
                left: calc(50% - 170px / 2);
            }



            .hover-mask {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;

                &:hover {
                    cursor: pointer;
                }
            }

            @keyframes play-animation-outer {

                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(90deg);
                }
            }

            @keyframes play-animation-outer-end {

                from {
                    transform: rotate(90deg);
                }

                to {
                    transform: rotate(0deg);
                }
            }

            .outer-btn-play-animation-start {
                animation-name: play-animation-outer;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            .outer-btn-play-animation-end {
                animation-name: play-animation-outer-end;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            @keyframes play-animation-inner {

                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(-50deg);
                }
            }

            @keyframes play-animation-inner-end {

                from {
                    transform: rotate(-50deg);
                }

                to {
                    transform: rotate(0deg);
                }
            }

            .inner-btn-play-animation-start {
                animation-name: play-animation-inner;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            .inner-btn-play-animation-end {
                animation-name: play-animation-inner-end;
                animation-duration: 0.5s;
                animation-fill-mode: both;
            }

            img {
                position: absolute;
            }

            .play-button-arrow {
                width: 55px;
                left: calc(50% - 40px / 2);
                top: calc(50% - 65px / 2);
            }

            .play-button-outer, .play-button-inner {
                @media (max-width: 500px) {
                    display: none;
                }
            }

        }
    }

}